@import "tailwindcss";

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.roboto-condensed-paragraph {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
